/* @imports must appear at top of stylesheet to be valid CSS */
@import 'graphs.css';

/* Any CSS rules must go *after* any @imports */
html, body.ember-application {
    margin: 0;
    padding: 0;
    height: 100%;
}

body > .ember-view {
    height: 100%;
}

